<style>
table, th, td {
    border: 1px solid black;
}
</style>
<h2>Student List</h2>
<button {{action "createNew"}}>Create New</button>

      <div>
        <table style="width:100%">
          <tr>
          <th>First Name</th>
          <th>Middle Name</th>
          <th >Last Name</th>
          <th>Address</th>
          <th>Email</th>
          <th>Contact Number</th>
          <th>Action</th>
          </tr>
        {{#each model as | student index |}}
          <tr>
            <td><span>{{student.first_name}}</span></td>
            <td><span>{{student.middle_name}}</span></td>
            <td><span>{{student.last_name}}</span></td>
            <td><span>{{student.address}}</span></td>
            <td><span>{{student.email}}</span></td>
            <td><span>{{student.contact_num}}</span></td>
            <td>
              <button>Edit</button>
              <button>Delete</button>
            </td>
        </tr>
        {{/each}}
        </table>
      </div>
